body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
}

.ouen {
    padding: 10px 20px;
    background-color: #1d47ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s;
    text-decoration: none;
}

.ouen:hover {
  transform: scale(1.20);
}

.img {
    width: 25%;
    height: auto;
    border-radius: 50%;
}